@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
html {
  background-color: #111111;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Akaya Kanadaka", sans-serif;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  overflow-y: hidden;
  text-align: center;
}
nav ul {
  display: flex;
  margin: 20px;
}
div {
  background: linear-gradient(#8b568c, #77aad9);
  height: 30rem;
  margin: 40px;
  border-radius: 15px;
}
h1 {
  margin: 20px;
  color: #fff;
  font-size: 2rem;
}
#container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}
#nouvelleTache {
  background: linear-gradient(to right, #ce8bbd, #c6b5d6);
  border-radius: 5px;
  border: none;
  height: 2.3rem;
  width: 20rem;
}
#listeTaches li {
  list-style-type: none; /* Supprimer les puces */
  margin-bottom: 5px; /* Ajouter un espacement entre les éléments de la liste */
  padding: 10px; /* Ajouter un remplissage à chaque élément de la liste */
  background: linear-gradient(to right, #ce8bbd, #c6b5d6);
  border-radius: 5px; /* Ajouter des coins arrondis */
}
